repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: ['--config-file=setup.cfg']
        additional_dependencies:
          - mypy==1.11.0