# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        # The line-length should match your project's setting in setup.cfg
        args: [--line-length=127]

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        # The max-line-length should match your project's setting
        args: [--max-line-length=127]
        # You can add additional_dependencies if your flake8 needs plugins
        # additional_dependencies: [flake8-bugbear]
